# ENV
.env
.env.local
.env.*.local

# PYTHON
__pycache__/
*.pyc
.venv/
.venv*/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# NODE / NEXT.JS
node_modules/
.next/
out/

# LOGS
logs/
*.log

# DATA / CACHE
data/
.notebook/
uv.lock

# COVERAGE
htmlcov/

# EDITOR / OS
.vscode/
.idea/
.DS_Store
